*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

.row{
    display: flex;
    justify-content: space-around;
    flex-flow : row wrap;
}

.card{
    width: 270px;
    height: 360px;
    box-shadow: 20px 20px 50px grey;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
}

.card img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.card h1{
    text-align: center;
    font-size: 25px;
}

.card p{
    padding: 3px 20px;
    text-align: center;
}