*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

.row{
    display: flex;
    justify-content: space-around;
    flex-flow : row wrap;
}

.card{
    width: 300px;
    height: 400px;
    box-shadow: 20px 20px 50px grey;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 30px;
}

.card img{
    position: relative;
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    z-index: 0;
    transition: transform 0.5s;
}

.card img:hover{
    transform: scale(1.2);
}

.card h1{
    text-align: center;
    font-size: 25px;
}

.card p{
    padding: 3px 20px;
    text-align: center;
    color: rgb(121, 121, 121);
}

.text{
    background-color: #fff;
    position: relative;
    margin-top: -25px;
    border-radius: 20px;
    z-index: 1;
    width: 100%;
    height: 250px;
    padding: 20px 0;
    cursor: default;
}

.card .text:hover{
    animation: narkamaniya 1s infinite;
}

@keyframes narkamaniya {
    0%{padding: 20px 0;}
    50%{padding: 30px 0;}
    100%{padding: 20px 0;}
}